.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1520px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    height: auto;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 37.5em) {

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .sm-0 {
        display: none;
    }

    .sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .sm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .sm-o-1 {
        margin-left: 8.33333%;
    }

    .sm-o-2 {
        margin-left: 16.66667%;
    }

    .sm-o-3 {
        margin-left: 25%;
    }

    .sm-o-4 {
        margin-left: 33.33333%;
    }

    .sm-o-5 {
        margin-left: 41.66667%;
    }

    .sm-o-6 {
        margin-left: 50%;
    }

    .sm-o-7 {
        margin-left: 58.33333%;
    }

    .sm-o-8 {
        margin-left: 66.66667%;
    }

    .sm-o-9 {
        margin-left: 75%;
    }

    .sm-o-10 {
        margin-left: 83.33333%;
    }

    .sm-o-11 {
        margin-left: 91.66667%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37.5em) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .t-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .t-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .t-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .t-o-1 {
        margin-left: 8.33333%;
    }

    .t-o-2 {
        margin-left: 16.66667%;
    }

    .t-o-3 {
        margin-left: 25%;
    }

    .t-o-4 {
        margin-left: 33.33333%;
    }

    .t-o-5 {
        margin-left: 41.66667%;
    }

    .t-o-6 {
        margin-left: 50%;
    }

    .t-o-7 {
        margin-left: 58.33333%;
    }

    .t-o-8 {
        margin-left: 66.66667%;
    }

    .t-o-9 {
        margin-left: 75%;
    }

    .t-o-10 {
        margin-left: 83.33333%;
    }

    .t-o-11 {
        margin-left: 91.66667%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .ll-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .ll-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .ll-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .ll-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .ll-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .ll-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .ll-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ll-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .ll-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .ll-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .ll-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .ll-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .ll-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .ll-o-1 {
        margin-left: 8.33333%;
    }

    .ll-o-2 {
        margin-left: 16.66667%;
    }

    .ll-o-3 {
        margin-left: 25%;
    }

    .ll-o-4 {
        margin-left: 33.33333%;
    }

    .ll-o-5 {
        margin-left: 41.66667%;
    }

    .ll-o-6 {
        margin-left: 50%;
    }

    .ll-o-7 {
        margin-left: 58.33333%;
    }

    .ll-o-8 {
        margin-left: 66.66667%;
    }

    .ll-o-9 {
        margin-left: 75%;
    }

    .ll-o-10 {
        margin-left: 83.33333%;
    }

    .ll-o-11 {
        margin-left: 91.66667%;
    }
}

@media only screen and (min-width: 100em) {
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .spll-0 {
        display: none;
    }

    .spll-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .spll-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .spll-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .spll-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .spll-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .spll-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .spll-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .spll-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .spll-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .spll-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .spll-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .spll-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .spll-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .spll-o-1 {
        margin-left: 8.33333%;
    }

    .spll-o-2 {
        margin-left: 16.66667%;
    }

    .spll-o-3 {
        margin-left: 25%;
    }

    .spll-o-4 {
        margin-left: 33.33333%;
    }

    .spll-o-5 {
        margin-left: 41.66667%;
    }

    .spll-o-6 {
        margin-left: 50%;
    }

    .spll-o-7 {
        margin-left: 58.33333%;
    }

    .spll-o-8 {
        margin-left: 66.66667%;
    }

    .spll-o-9 {
        margin-left: 75%;
    }

    .spll-o-10 {
        margin-left: 83.33333%;
    }

    .spll-o-11 {
        margin-left: 91.66667%;
    }
}


@media only screen and (min-width: 37.5em) and (max-width: 47.9375em) {
    .m-0 {
        display: none;
    }
}

@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
    .wide {
        width: 742px;    
    }
    
    .t-0 {
        display: none;
    }
}

@media only screen and (min-width: 62em) and (max-width: 81.25em) {
    .wide {
        width: 984px;
    }

    .l-0 {
        display: none;
    }
}

@media only screen and (min-width: 81.3125em) and (max-width: 99.9375em) {
    .wide {
        width: 1200px;
    }
    .ll-0 {
        display: none;
    }
}

